<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Menu Item</title>
</head>
<body>
    <h1>New Menu Item</h1>

    <form action="{{url_for('newMenuItem', restaurant_id = restaurant_id)}}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="description">Description:</label><br>
        <input type="text" name="description" id="description"><br>
        <label for="price">Price:</label><br>
        <input type="text" name="price" id="price"><br>
        <label for="course">Course:</label><br>
        <input type="radio" id="course" name="course" value="Appetizer">Appetizer<br>
        <input type="radio" id="course" name="course" value="Entree">Entree<br>
        <input type="radio" id="course" name="course" value="Dessert">Dessert<br>
        <input type="radio" id="course" name="course" value="Beverage">Beverage<br>
        <input type="submit" value="Create">
    </form>
    <a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}">Cancel</a>
</body>
</html>